.card_comprar{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: #1e1e1e;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border: 3px solid #ff8800;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 11;
}

.cardcomprar_txt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    column-gap: 1rem;
    color: #fff;
    width: 100%;
}

.cardcomprar_img img{
    width: 8vw;
    background-color: #bababa;
    border-radius: 0.5rem;
}

.preco span{
    font-weight: bold;
    text-decoration: line-through;
    color: #999;
}

.preco strong{
    font-weight: bold;
    color: #ff8800;
}

.comprar_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    background-color: #111;
    color: #ff8800;
    letter-spacing: 0px;
    transition: 0.3s;
    width: 7rem;
    border: 2px solid #ff880089;
}

.comprar_btn:hover{
    margin-right: 0;
    letter-spacing: 2px;
    background-color: #ff88001e;
}
.divbtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}


.divbtn button{
    border: none;
}

@media(max-width: 720px){

    .card_comprar{
        flex-direction: row-reverse;
    }
    .cardcomprar_txt{
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;
        align-items: start;
        padding-bottom: 0.5rem;
    }
    .cardcomprar_txt div:nth-child(1){
       color: #111;
    }
    .cardcomprar_img img{
        min-width: 25vw;
    }
    .divbtn{
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }

    .divbtn button{
        width: 3.5rem;
    }
    
}