.pagcompras{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    min-height: 90vh;
}

.tit{
    padding: 0 0.5rem;  
    font-size: 2rem;  
}

.tit::after{
    display: block;
    content: "";
    width: 25%;
    height: 3px;
    background-color: #ff8800;
}

.pmodel{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem;
}

.divimgs{
    display: flex;
    overflow: hidden;
    column-gap: 5vw;
    margin-left: -1vw;
    padding: 0 5vw;
    margin-bottom: 1rem;
}

.divimgs img{
    width: 90vw;
}

.divinputs{
    display: flex;
    justify-content: center;
    column-gap: 3rem;
    accent-color: #ff8800;
    margin-bottom: 5rem;
}